<h1>All Musics</h1>

<% if @songs %>

  <% @songs.each do |song| %>
    <div class="song">
      <a href="songs/<%= song.id %>">
      <h4><%= song.author %> - <%= song.title %><small> Posted By: <%= song.user.first_name %> <%= song.user.last_name %></small></h4>
  </a>
    </div>
  <% end %>

<% end %>

<div>
<a href="/songs/new"><h2>Post your own song</h2></a>
</div>