<% if @error %>
  <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  Sorry you've already voted for that song.
  </div>
<% end %>

<h1>All Musics</h1>

<% if @songs %>
  <div class="container">

  <% @songs.each do |song| %>
  <div class="row">
    <div class="col-md-10">
      <a href="songs/<%= song.id %>">
        <h4><%= song.author %> - <%= song.title %>
        <small> Posted By: <%= song.user.first_name %> <%= song.user.last_name %></small>
        </h4>
      </a>
      </div>

      <div class="col-md-2 volume-controls">
        <!-- <h5>Votes: <%= Vote.where(song_id: song.id).sum(:total_votes) %> </h5> -->
        <h5>Votes: <%= song.total_votes %> </h5>
        <form method="post">
            <% if session[:user_id] %>
              <input type="hidden" name="vote" value="1" />
              <button type="submit" name="song_id" value=<%= song.id %> ><i class="fa fa-thumbs-up"></i></button>
        </form>
        <form method="post">
              <input type="hidden" name="vote" value="-1" />
              <button type="submit" name="song_id" value=<%= song.id %>><i class="fa fa-thumbs-down"></i></button>
            <% end %>
        </form>
      </div>
      </div>
  <% end %>
  </div>

<% end %>

<div>
<a href="/songs/new"><h3>Post your own song</h3></a>
</div>
