<h1>All Musics</h1>

<% if @error %>
  <h3>Sorry you've already voted for that song.</h3>
<% end %>

<% if @songs %>

  <% @songs.each do |song| %>
    <div class="container">
    <div class="col-md-10">
      <a href="songs/<%= song.id %>">
        <h4><%= song.author %> - <%= song.title %>
        <small> Posted By: <%= song.user.first_name %> <%= song.user.last_name %></small>
        </h4>
      </a>
      </div>
      <div class="col-md-2">

      <form method="post">
          <h5>Votes: <%= Vote.where(song_id: song.id).sum(:total_votes) %> 
          <% if session[:user_id] %>
            <button type="submit" name="song_id" value=<%= song.id %> ><i class="fa fa-thumbs-up"></i></button>   
<!--             <button type="submit" name="song_id" value=<%= song.id %>><i class="fa fa-thumbs-down"></i></button> -->
          <% end %>
      </form>
      </h5>
      </div>
  </div>
  <% end %>

<% end %>

<div>
<a href="/songs/new"><h3>Post your own song</h3></a>
</div>
